<div class="card shadow-sm" [ngClass]="ledgerEntry?.ledgerType === 'CREDIT' ? 'border-success' : 'border-danger'">
    <div class="card-body">
        <div class="d-flex justify-content-between align-items-center mb-2">
            <div class="d-flex">
                <span class="badge bg-secondary text-capitalize">{{ ledgerEntry?.ledgerType }}</span>
            </div>
            <p class="text-muted small mb-2">{{ ledgerEntry?.transactionDateTime | date:'mediumDate' }}</p>
        </div>
        <div class="d-flex justify-content-between">
            <span class="h5" [ngClass]="ledgerEntry?.ledgerType === 'CREDIT' ? 'text-success' : 'text-danger'">
                ₹{{ ledgerEntry?.amount }}
            </span>
            <span [class]="ledgerEntry?.ledgerType === 'CREDIT' ? 'text-success fw-bold' : 'text-danger fw-bold'">
                {{ ledgerEntry?.ledgerType | titlecase }}
            </span>

        </div>
         <div class="mb-0">
            <textarea class="form-control" formControlName="description">{{ledgerEntry?.description}}</textarea>
        </div>

    </div>
</div>