<div class="auth-container">
    <h2>Reset Password</h2>

    <form [formGroup]="form" (ngSubmit)="submit()">

        <div>
            <label>New Password</label>
            <input type="password" formControlName="password" />
            <small *ngIf="form.get('password')?.invalid && form.get('password')?.touched">
                Password must be 8+ chars, include upper, lower, number, special char.
            </small>
        </div>

        <div>
            <label>Confirm Password</label>
            <input type="password" formControlName="confirmPassword" />
        </div>

        <button type="submit" [disabled]="loading || form.invalid">
            {{ loading ? 'Updating...' : 'Update Password' }}
        </button>
    </form>

    <p class="message" *ngIf="message">
        {{ message }}
    </p>
</div>