<div class="me-1">
    <div class="d-flex justify-content-between align-items-center pb-2 mt-1 mb-2 border-bottom">
        <h3><i class="bi bi-bag-heart-fill me-2 text-success"></i>Order Info</h3>
        <div class="d-flex">
            <div class="ms-2">
                <!-- Back / Breadcrumb -->
                <div class="mb-3">
                    <a routerLink="/dashboard/orders" class="text-decoration-none">
                        <i class="bi bi-arrow-left"></i> Back to Orders
                    </a>
                </div>
            </div>
        </div>
    </div>

    @if (errorMsg) {
    <div class="d-flex justify-content-center align-items-center mt-5">
        <div class="card shadow-sm border-warning" style="max-width: 520px;">
            <div class="card-body text-center p-4">
                <!-- Icon -->
                <div class="mb-3">
                    <i class="bi bi-exclamation-triangle-fill text-warning fs-1"></i>
                </div>

                <!-- Title -->
                <h5 class="fw-semibold text-warning mb-2">
                    Invalid Order
                </h5>

                <!-- Message -->
                <p class="text-muted mb-3">
                    {{ errorMsg }}
                </p>

                <!-- UUID Input -->
                <div class="mb-2">
                    <div class="input-group">
                        <input type="text" class="form-control text-center" placeholder="Paste order UUID here"
                            [(ngModel)]="enteredUuid" (input)="validateUuid()" />

                        <!-- Paste button -->
                        <button type="button" class="btn btn-outline-secondary" (click)="pasteFromClipboard()"
                            title="Paste from clipboard">
                            <i class="bi bi-clipboard"></i>
                        </button>

                        <!-- Go button -->
                        <button type="button" class="btn btn-warning" [disabled]="!isUuidValid"
                            (click)="navigateWithUuid()">Go</button>
                    </div>
                </div>

                <!-- Inline Validation Error -->
                @if (enteredUuid && !isUuidValid) {
                <div class="text-danger small mb-3">
                    Invalid UUID format
                </div>
                }

                <!-- Actions -->
                <div class="d-flex justify-content-center gap-2">
                    <button class="btn btn-outline-secondary" routerLink="/dashboard/orders">
                        <i class="bi bi-arrow-left"></i> Back to orders
                    </button>

                    <button class="btn btn-warning" (click)="reload()">
                        <i class="bi bi-arrow-clockwise"></i> Reload Page
                    </button>
                </div>

            </div>
        </div>
    </div>
    }
    @else {
    <div class="container-fluid">

        <!-- order Header -->
        <div class="d-flex justify-content-between align-items-start border rounded p-2 mb-3">
            <div>
                <strong><span class="me-1 text-info">#</span></strong>
                <span class="small">{{order?.uuid}}</span>
            </div>
            <div>
                <button class="btn btn-sm btn-outline-primary me-2" data-bs-toggle="modal" data-bs-target="#orderModal">
                    <i class="bi bi-pencil"></i> Edit
                </button>
                <button class="btn btn-sm btn-outline-danger" data-bs-toggle="modal"
                    data-bs-target="#confirmDeleteOrderDialog">
                    <i class="bi bi-trash"></i> Delete
                </button>
            </div>
        </div>

        <!-- order details -->
        <div class="card shadow-sm mb-2">
            <div class="card-body">
                <div class="row g-3">
                    <div class="col-12 pb-1 border-bottom">
                        <span><i class="bi bi-bag-heart-fill me-2 text-info"></i>Order Details</span>
                    </div>
                    <div class="col-md-4 d-none">
                        <small><span class="me-1 text-info">#</span>Job Code</small>
                        <div>{{ order?.printJobTypeCode || 'N/A'}}</div>
                    </div>
                    <div class="col-md-4">
                        <small><span class="me-1 text-info">#</span>Job Name</small>
                        <div>{{order?.printJobTypeName }} <span><small class="text-muted">
                                    &#40;{{order?.printJobTypeCode}}&#41;</small></span></div>
                    </div>
                    <div class="col-md-4">
                        <small><span class="me-1 text-info">#</span>Quantity</small>
                        <div>{{ order?.quantity }}</div>
                    </div>
                    <div class="col-md-4">
                        <small><i class="bi bi-journal-bookmark me-1 text-info"></i>Book/W-Book Number</small>
                        <div>{{ order?.bookNumber || 'N/A' }}</div>
                    </div>
                    <div class="col-md-4">
                        <small><i class="bi bi-calendar-plus me-1 text-info"></i>Date of Placed</small>
                        <div>{{ order?.dateOfPlaced | daysElapsed }}</div>
                    </div>
                    <div class="col-md-4">
                        <small><i class="bi bi-calendar-plus me-1 text-info"></i>Date of delivery</small>
                        <div>{{ order?.dateOfDelivery | daysElapsed }}</div>
                    </div>
                    <div class="col-md-4">
                        <small><i class="bi bi-box me-1 text-info"></i>Order Status</small>
                        <div>{{ order?.printJobStatus || 'N/A' }}</div>
                    </div>

                </div>
            </div>
        </div>

        <!-- payment details -->
        <div class="card shadow-sm mb-2">
            <div class="card-body">
                <div class="row g-3">
                    <div class="col-12 pb-1 border-bottom">
                        <span><i class="bi bi-cash-stack me-2 text-info"></i>Payment Details</span>
                    </div>
                    <div class="col-md-4">
                        <small><i class="bi bi-cash me-1 text-info"></i>Total Amount</small>
                        <div>{{ order?.totalAmount }}</div>
                    </div>
                    <div class="col-md-4">
                        <small><i class="bi bi-cash me-1 text-info"></i>Discounted Amount</small>
                        <div>{{ order?.discountedAmount}}</div>
                    </div>
                    <div class="col-md-4">
                        <small><i class="bi bi-cash me-1 text-info"></i>Pending Amount</small>
                        <div>{{ order?.pendingAmount}}</div>
                    </div>
                    <div class="col-md-4">
                        <small><i class="bi bi-cash me-1 text-info"></i>Deposited Amount</small>
                        <div>{{ order?.depositAmount}}</div>
                    </div>
                    <div class="col-md-4">
                        <small><i class="bi bi-cash-stack me-1 text-info"></i>Payment Status</small>
                        <div>{{ order?.paymentStatus}}</div>
                    </div>
                </div>
            </div>
        </div>

        <!-- Note details -->
        <div class="card shadow-sm mb-2">
            <div class="card-body">
                <div class="row g-3">
                    <div class="col-12 pb-1 border-bottom">
                        <span><i class="bi bi-chat-left-text me-1 text-info"></i>Note</span>
                    </div>
                    <div class="col-12">
                        @if( order?.note){
                        <p class="w-100 px-2">{{ order?.note }}</p>
                        }
                        @else {
                        <span>No note.</span>
                        <span class="ms-2 span-btn text-info" title="Add note" role="button">Add a note</span>
                        }
                    </div>
                </div>
            </div>
        </div>

        <!-- Description details -->
        <div class="card shadow-sm mb-2">
            <div class="card-body">
                <div class="row g-3">
                    <div class="col-12 pb-1 border-bottom">
                        <span><i class="bi bi-card-text me-1 text-info"></i>Description</span>
                    </div>
                    <div class="mt-2">
                        @if( order?.description){
                        <p class="w-100 px-2">{{ order?.description }}</p>
                        }
                        @else {
                        <span>No description.</span>
                        <span class="ms-2 span-btn text-info" title="Add description" role="button">Add a
                            description</span>
                        }
                    </div>
                </div>
            </div>
        </div>

        <!-- Attachments details -->
        <div class="card shadow-sm mb-2">
            <div class="card-body">
                <div class="row g-3">
                    <div class="col-12 pb-1 border-bottom">
                        <span><i class="bi bi-paperclip me-1 text-info"></i>Attached Files</span>
                    </div>
                    @if(order?.attachmentIds?.length == 0){
                    <div class="mt-2 ms-3">
                        <span>No attached file.</span>
                        <span class="ms-2 span-btn text-info" title="Add description" role="button">Upload files</span>
                    </div>
                    }
                    @else {
                    <small class="text-info ms-2">
                        {{'( '+order?.attachmentIds?.length + ' attached files )'}}
                    </small>
                    <div class="mt-2">
                        <div class="row row-cols-1 row-cols-md-4 g-4">
                            @for (item of fileAttachments; track $index) {
                            <app-file-attachment-card [fileAttachment]="item"></app-file-attachment-card>
                            }
                        </div>
                    </div>
                    }
                </div>
            </div>
        </div>

        <!-- customer details -->
        <div class="card shadow-sm mb-2">
            <div class="card-body">
                <div class="col-12 pb-1 border-bottom">
                    <span><i class="bi bi-person me-2 text-info"></i>Customer Details</span>
                </div>
                <div class="row g-3 mt-1">
                    <div class="col-md-4">
                        <small><span class="mx-1 text-info">#</span>Customer Id</small>
                        <div>{{ order?.customerId || 'N/A' }}</div>
                    </div>
                    <div class="col-md-4">
                        <small><span class="mx-1 text-info">#</span>Customer Name</small>
                        <div>{{ order?.customerName || 'N/A' }}</div>
                    </div>
                    <div class="col-md-4">
                        <small><span class="mx-1 text-info">#</span>Primary Phone Number</small>
                        <div>{{ order?.customerPrimaryPhoneNumber || 'N/A' }}</div>
                    </div>
                    <div class="col-md-4">
                        <small><span class="mx-1 text-info">#</span>Alternate Phone Number </small>
                        <div>{{ order?.customerAlternatePhoneNumber || 'N/A' }}</div>
                    </div>
                    <div class="col-md-8">
                        <small><span class="mx-1 text-info">#</span>Customer Address</small>
                        <div>{{ order?.customerAddress || 'N/A' }}</div>
                    </div>
                </div>
            </div>
        </div>

        <!-- Order details -->
        <div class="card shadow-sm mb-2">
            <div class="card-body">
                <div class="row g-3">
                    <div class="col-12 pb-1 border-bottom">
                        <span><i class="bi bi-clock-history me-2 text-info"></i>Order History</span>
                    </div>
                    <div class="col-md-4">
                        <small><i class="bi bi-person me-1 text-info"></i>Created By</small>
                        <div>{{ order?.createdBy }}</div>
                    </div>
                </div>
            </div>
        </div>

        <!-- metadata details -->
        <div class="card shadow-sm mb-2">
            <div class="card-body">
                <div class="row g-3">
                    <div class="col-12 pb-1 border-bottom">
                        <span><i class="bi bi-info-circle me-2 text-info"></i>More Info</span>
                    </div>
                    <div class="col-md-4">
                        <small><i class="bi bi-person me-1 text-info"></i>Created By</small>
                        <div>{{ order?.createdBy }}</div>
                    </div>
                    <div class="col-md-4">
                        <small><i class="bi bi-calendar-plus me-1 text-info"></i>Created At</small>
                        <div>{{ order?.createdAt | timeElapsed }}</div>
                    </div>
                    <div class="col-md-4">
                        <small><i class="bi bi-calendar-check me-1 text-info"></i>Updated At</small>
                        <div>{{ order?.updatedAt | timeElapsed }}</div>
                    </div>
                    <div class="col-md-4">
                        <small><span class="me-1 text-info">#</span>Order UUID</small>
                        <div>{{ order?.uuid || 'N/A' }}</div>
                    </div>
                </div>
            </div>
        </div>

    </div>

    <app-order-modal [model]="order" (successAction)="orderSuccess($event)"
        (errorAction)="orderError($event)"></app-order-modal>
    <app-confirm-dialog [id]="'confirmDeleteOrderDialog'" [title]="'Confirm Delete'" [message]="deleteMsg"
        [confirmText]="'Delete'" [cancelText]="'Cancel'" [confirmBtnClass]="'btn-danger'" (confirmed)="deleteOrder()">
    </app-confirm-dialog>
    <app-toast *ngIf="showToast" [type]='toastType' [message]='toastMsg'
        (closeAction)="hideToastComponent()"></app-toast>
    }
</div>