.filter-toolbar {
    z-index: 1050;
    /* higher than cards */
    border: 1px solid #dee2e6;
    top: 56px;
    /* or height of your navbar */
}

.list-group-item {
    font-size: 0.9rem;
    padding: 0.4rem 0.6rem;
}