<div class="me-1">
    <div class="d-flex justify-content-between align-items-center pb-3 my-1 border-bottom">
        <h3><i class="bi bi-people-fill me-2 text-primary"></i>Customers</h3>
        <div class="d-flex">
            <div class="ms-2">
                <button class="btn btn-primary ms-2" (click)="addCustomer()">
                    <i class="bi bi-person-plus me-2"></i>Add Customer
                </button>
            </div>
        </div>
    </div>
    <div class="table-responsive mt-3">
        <table class="table table-striped table-hover align-middle">
            <thead class="table-light">
                <tr>
                    <th>#</th>
                    <th>Username</th>
                    <th>Email</th>
                    <th>Primary Phone</th>
                    <th>Alternate Phone</th>
                    <th>Outstanding Amount</th>
                    <th>Created By</th>
                    <th>Created At</th>
                    <th class="text-end">Actions</th>
                </tr>
            </thead>

            <tbody>
                <tr *ngFor="let customer of customers; let i = index" class="cursor-pointer"
                    (click)="openCustomerProfile(customer)">
                    <td>{{ i + 1 }}</td>
                    <td>{{ customer.username }}</td>
                    <td>{{ customer.email }}</td>
                    <td>{{ customer.primaryPhoneNumber }}</td>
                    <td>{{ customer.alternatePhoneNumber }}</td>
                    <td> N/A</td>
                    <td>{{ customer.addedBy }}</td>
                    <td>{{ customer.dateAdded | date:'short' }}</td>

                    <!-- Actions -->
                    <td class="text-end" (click)="$event.stopPropagation()">
                        <button class="btn btn-sm btn-outline-primary me-1" (click)="editCustomer(customer)">
                            <i class="bi bi-pencil"></i>
                        </button>
                        <button class="btn btn-sm btn-outline-danger" (click)="deleteCustomer(customer)">
                            <i class="bi bi-trash"></i>
                        </button>
                    </td>
                </tr>
            </tbody>
        </table>
    </div>
</div>
<button #launchCustomerModalButton class="btn btn-info d-none" data-bs-toggle="modal"
    data-bs-target="#addCustomerModal">Launch Customer Modal</button>
<app-customer-modal [customer]="editingCustomer" (successAction)="customerSuccess($event)"
    (errorAction)="customerError($event)"></app-customer-modal>
<app-toast *ngIf="showToast" [type]='toastType' [message]='toastMsg' (closeAction)="toastCloseAction()"></app-toast>